/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#header {
    position:fixed;
    display:block;
    height:190px;
    width:100%;
    background-image:url('../img/top-dash.png');
    background-repeat: no-repeat;
}

#header-elements {
    display:block;
    height:90px;
    width:64%;
    position:fixed;
    left:21%;
}

.header-element {
    height:90px;
    display:block;
    float:left;
    width:28%;
}

.header-element.left {
    height:123px;
    background-image:url('../img/maps.png');
    background-repeat: no-repeat;
    background-position: 20px 0px;
}

.header-element.right {
    margin-top:10px;
    width:260px;
    margin-left: 50px;
}

.social-icon {
    float:left;
    display:block;
    height:48px;
    width:48px;
    margin-top:41px;
}

.facebook {
    background:url('../img/social-sprite.png');
    background-position: 0px 48px;
}

.facebook:hover {
    background-position: 0px 0px;
}

.instagram {
    background:url('../img/social-sprite.png');
    background-position: -48px 48px;
}

.instagram:hover {
    background-position: -48px 0px;
}

.pinterest {
    background:url('../img/social-sprite.png');
    background-position: -96px 48px;
}

.pinterest:hover {
    background-position: -96px 0px;
}

.twitter {
    background:url('../img/social-sprite.png');
    background-position: -144px 48px;
}

.twitter:hover {
    background-position: -144px 0px;
}

.youtube {
    background:url('../img/social-sprite.png');
    background-position: -192px 48px;
}

.youtube:hover {
    background-position: -192px 0px;
}

#header-element-center {
    position:relative;
    top:18px;
    margin-left: 30px;
    width:240px;
    height:155px;
    background-image:url('../img/rear-view.png');
    background-repeat: no-repeat;
}

#background {
    display:block;
    width:100%;
    top:50px;
    height:720px;
    position:absolute;
    z-index:-3;
}

#footer {
    display:block;
    position:fixed;
    bottom:0px;
    height:215px;
    width:100%;
    background-image:url('../img/bottom-dash.png');
    background-repeat: no-repeat;
}

#footer-elements {
    display:block;
    height:170px;
    width:100%;
/*    background-color:#444; */
    position:fixed;
    left:0%;
}

#footer-elements-left {
    width:35%;
}

.footer-element {
    width:30%;
    height:170px;
    display:block;
    float:left;
/*    border:1px solid black; */
}

#left-footer-left {
    position:relative;
    top:70px;
    display:block;
/*    background-color:brown;  
    border:1px solid black; */
    float:left;
    height:147px;
    width:197px;
    background-image:url('../img/cb-radio2.png');
    background-position: 80px 0px;
    background-repeat: no-repeat;
}

#left-footer-right {
    position:relative;
    top:15px;
    left:30px;
    display:block;
    background-image:url('../img/steering-wheel.png');
    float:left;
    height:200px;
    width:204px;
}

#center-footer-main {
    position:relative;
    top:50px;
    display:block;
    float:left;
    margin-left:20px;
    height:130px;
    width:99%;
}

#buttons {
    position: absolute;
    left:40px;
    top:15px;
    height:60px;
}

.radio-button {
    float: left;
    display: block;
    width:30px;
    height: 30px;
    margin:10px 10px;
    background-image:url('../img/knob-sprite.png');
    background-position: 0px 30px;
}

.radio-button:hover,.radio-button:active {
    background-image:url('../img/knob-sprite.png');
    background-position: 0px 0px;
}

#radio-readout {
    position: absolute;
    height:35px;
    width:250px;
    top:80px;
    left:45px;
}

#readout {
    color:#7f7363;
    font-family: 'Special Elite', 'cursive';
    margin-top:8px;
    margin-left:10px;
}

#family-portrait {
    position:absolute;
    left:120px;
    margin-top:-35px;
    width:250px;
    height:150px;
    display:block;
    background-image:url('../img/family-portrait.jpg');
    background-repeat:no-repeat;
}

#bobbles {
    position: absolute;
    left:70px;
}

.single-bobble {
    float: left;
    display: block;
    width:40px;
    height: 100px;
    margin:0px 10px;
    border:1px solid white;
}
a {
    cursor:pointer;
}

h3 {
    font-family: 'Satisfy', 'cursive';
    font-size: 2.1em;
}

h4 {
    font-family: 'Satisfy', 'cursive';
    font-size:1.7em;
}

p, span {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
}

.modal-content {
    background:rgba(255,255,255,0.7);
    border:none;
    border-radius: 5px;
}

#right-footer-main {
    position:relative;
    top:1px;
    display:block;
    float:left;
    height:130px;
    width:99%;
}

.land-slide.first {
    height:720px;
    width:1300px;
    display:block;
    background-image:url('../img/rockies-1300.jpg');
    color:#fff;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right:10%;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left:40%;
}

.center-elements {
    display:block;
    position:relative;
    margin:0 auto;
    top:50px;
    width:500px;
    height:350px;
    border:1px solid white;
}