
#header {
    position:fixed;
    display:block;
    height:190px;
    width:100%;
    background-image:url('../img/top-dash.png');
    background-repeat: no-repeat;
}

#header-elements {
    display:block;
    height:90px;
    width:64%;
    position:fixed;
    left:21%;
}

.header-element {
    height:90px;
    display:block;
    float:left;
    width:28%;
}

.header-element.left {
    position: fixed;
    left:270px;
    height:123px;
    background-image:url('../img/maps.png');
    background-repeat: no-repeat;
    background-position: 20px 0px;
}

.header-element.right {
    position:fixed;
    margin-top:10px;
    width:260px;
    left: 810px;
}

.social-icon {
    float:left;
    display:block;
    height:48px;
    width:48px;
/* KILLING THIS MARGIN FOR THE IGG ICON -- UN-COMMENT AFTER IGG CAMPAIGN ENDS
    margin-top:41px;
    -- NEW MARGIN BELOW */
    margin-top:6px;
}

#igg-logo {
    height:35px;
    width:202px;
    display:block;
    background:url('../img/igg-202x70.png');
    background-position: 0px 0px;
}

#igg-logo:hover {
    background-position: 0px 35px;
}

.facebook {
    background:url('../img/social-sprite.png');
    background-position: 0px 48px;
}

.facebook:hover {
    background-position: 0px 0px;
}

.instagram {
    background:url('../img/social-sprite.png');
    background-position: -48px 48px;
}

.instagram:hover {
    background-position: -48px 0px;
}

.pinterest {
    background:url('../img/social-sprite.png');
    background-position: -96px 48px;
}

.pinterest:hover {
    background-position: -96px 0px;
}

.twitter {
    background:url('../img/social-sprite.png');
    background-position: -144px 48px;
}

.twitter:hover {
    background-position: -144px 0px;
}

.youtube {
    background:url('../img/social-sprite.png');
    background-position: -192px 48px;
}

.youtube:hover {
    background-position: -192px 0px;
}

#header-element-center {
    position:fixed;
    top:18px;
    left: 530px;
    width:240px;
    height:155px;
    background-image:url('../img/rear-view.png');
    background-repeat: no-repeat;
}

#background {
    display:block;
    width:100%;
    top:50px;
    height:720px;
    position:absolute;
    z-index:-3;
}

#footer {
    display:block;
    position:fixed;
    bottom:0px;
    height:215px;
    width:100%;
    background-image:url('../img/bottom-dash.png');
    background-repeat: no-repeat;
}

#footer-elements {
    display:block;
    height:170px;
    width:100%;
/*    background-color:#444; */
    position:fixed;
    left:0%;
}

#footer-elements-left {
    width:35%;
}

.footer-element {
    width:30%;
    height:170px;
    display:block;
    float:left;
/*    border:1px solid black; */
}

#left-footer-left {
    position:fixed;
    bottom:0px;
    display:block;
/*    background-color:brown;  
    border:1px solid black; */
    float:left;
    height:147px;
    width:197px;
    background-image:url('../img/cb-radio2.png');
    background-position: 80px 0px;
    background-repeat: no-repeat;
}

#left-footer-right {
    position:fixed;
    bottom:0px;
    left:230px;
    display:block;
    background-image:url('../img/steering-wheel2.png');
    float:left;
    height:200px;
    width:204px;
}

#center-footer-main {
    position:fixed;
    bottom:0px;
    display:block;
    float:left;
    margin-left:20px;
    height:130px;
    width:99%;
}

#buttons {
    position: fixed;
    left:510px;
    bottom:85px;
    height:60px;
    clear:both;
}

.radio-button {
    float: left;
    display: block;
    width:30px;
    height: 30px;
    margin:10px 10px;
    background-image:url('../img/knob-sprite.png');
    background-position: 0px 30px;
}

.radio-button:hover,.radio-button:active {
    background-image:url('../img/knob-sprite.png');
    background-position: 0px 0px;
}

#radio-readout {
    position:fixed;
    height:35px;
    width:250px;
    bottom:50px;
    left:510px;
}

#readout {
    color:#7f7363;
    font-family: 'Special Elite', 'cursive';
    margin-top:8px;
    margin-left:10px;
}

#family-portrait {
    position:fixed;
    left:920px;
    bottom:110px;
    width:250px;
    height:150px;
    display:block;
    background-image:url('../img/family-portrait.jpg');
    background-repeat:no-repeat;
}

#notebook {
    position:fixed;
    left:1105px;
    bottom:0px;
    width:206px;
    height:126px;
    background-image:url('../img/notebook.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
}

/*
#notebook:hover {
    background-position: 0px 90px;
}
*/

#bobbles {
    position: absolute;
    left:70px;
}

.single-bobble {
    float: left;
    display: block;
    width:40px;
    height: 100px;
    margin:0px 10px;
    border:1px solid white;
}
a {
    cursor:pointer;
}

h3 {
    font-family: 'Satisfy', 'cursive';
    font-size: 2.1em;
}

h4 {
    font-family: 'Satisfy', 'cursive';
    font-size:1.7em;
}

p, span {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
}

.modal-content {
    background:rgba(255,255,255,0.7);
    border:none;
    border-radius: 5px;
}

#right-footer-main {
    position:fixed;
    bottom:0px;
    display:block;
    float:left;
    height:130px;
    width:99%;
}

.land-slide {
    height:720px;
    width:1300px;
    display:block;
    color:#fff;
}

#first-slide {
    background-image:url('../img/rockies-1300.jpg');
}

#second-slide {
    background-image:url('../img/desert-1300.jpg');
}

#third-slide {
    background-image:url('../img/river-1300.jpg');
}

#fourth-slide {
    background-image:url('../img/farm-1300.jpg');
}

.land-sign {
    display:block;
    position:absolute;
    top:25%;
    left:65%;
    background-image:url('../img/sign-logo2.png');
    height:312px;
    width:132px;
}

@-webkit-keyframes animatedBear {
    from { left: 0%; }
    to { left: 15%; }
}

#bear-box {
    -webkit-animation: animatedBear 5s;
    -webkit-animation-iteration-count: 1;
    position: absolute;
    top:45%;
    left:15%;
}

#bear {
    display: block;
    height: 161px;
    width:194px;
    background-image:url('../img/bear.png');
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count:1;    
}

.cactus {
    display:block;
    position: absolute;
    z-index:3;
}

#cactus-1 {
    width:165px;
    height:425px;
    background-image:url('../img/cactus1.png');
    top:29%;
    left:4%;
}

#cactus-2 {
    height:310px;
    width:152px;
    background-image:url('../img/cactus2.png');
    top:34%;
    left:72%;
}

#cactus-3 {
    height:165px;
    width:81px;
    background-image:url('../img/cactus3.png');
    top:40%;
    left:90%;
}

#sun {
    display:block;
    z-index:1;
    width:216px;
    height:219px;
    background-image:url('../img/sun.png');
    position: absolute;
    top:4%;
    left:15%;
}

#cloud1 {
    display: block;
    position: absolute;
    top:8%;
    left:85%;
    background-image:url('../img/cloud1.png');
    height:103px;
    width:198px;
}

#cloud2 {
    display: block;
    position: absolute;
    z-index: 2;
    top:2%;
    left:0%;
    background-image:url('../img/cloud2.png');
    height:352px;
    width:411px;
}

#crab-box {
    position: absolute;
    top:52%;
    left:20%;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:600ms;
}

#crab {

    background-image:url('../img/crab.png');
    height:159px;
    width:202px;
    -webkit-animation-delay: 600ms;
}

#birds {
    position: absolute;
    background-image:url('../img/birds.png');
    height:100px;
    width:334px;
    top:10%;
    left:70%;
    -webkit-animation-delay: 1s;
}

#deer {
    position: absolute;
    background-image:url('../img/deer.png');
    height:243px;
    width:295px;
    top:50%;
    left:20%;
}

#cloud1b {
    display: block;
    position: absolute;
    top:18%;
    left:3%;
    background-image:url('../img/cloud-1b.png');
    height:137px;
    width:164px;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 600ms;
}

#cloud2b {
    display: block;
    position: absolute;
    top:11%;
    left:18%;
    background-image:url('../img/cloud-2b.png');
    height:112px;
    width:130px;
    -webkit-animation-delay: 300ms;
    -webkit-animation-duration: 1s;
}

#cloud3b {
    display: block;
    position: absolute;
    top:14%;
    left:31%;
    background-image:url('../img/cloud-3b.png');
    height:62px;
    width:74px;
    -webkit-animation-duration: 1s;
}

#tractor {
    position: absolute;
    z-index: 10;
    top:30%;
    left:3%;
    background-image:url('../img/tractor.png');
    height:213px;
    width:245px;
}

#barn {
    position: absolute;
    z-index:1;
    height:168px;
    width:245px;
    background-image:url('../img/barn.png');
    top:29%;
    left:78%;
}

.crop {
    position: absolute;
    z-index: 2;
    height: 100px;
    width: 66px;
    background-image:url('../img/crop.png');
    -webkit-animation-duration: 1s;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right:10%;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left:40%;
}

.center-elements {
    display:block;
    position:relative;
    margin:0 auto;
    top:50px;
    width:500px;
    height:350px;
    border:1px solid white;
}